= form_tag(product_path(@product), method: :get) do
  = text_field_tag :term, params[:term]
  = submit_tag 'Filter', name: nil

- @reviews.each do |review|
  .reviews-list
    p
      b = review.title

    p = review.text
